*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
Body {  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
main{
    position: fixed;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
